
.headerWrapper {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 60px;
    overflow: auto;
    .ant-menu-dark .ant-menu-item:hover,
    .ant-menu-dark .ant-menu-item-active,
    .ant-menu-dark .ant-menu-submenu-active,
    .ant-menu-dark .ant-menu-submenu-selected,
    .ant-menu-dark .ant-menu-submenu:hover,
    .ant-menu-dark .ant-menu-submenu-title:hover {
        background-color: transparent;
        color: #fff;
    }
    .ant-menu-dark .ant-menu-item:hover > a,
    .ant-menu-dark .ant-menu-item-active > a,
    .ant-menu-dark .ant-menu-submenu-active > a,
    .ant-menu-dark .ant-menu-submenu-selected > a,
    .ant-menu-dark .ant-menu-submenu:hover > a,
    .ant-menu-dark .ant-menu-submenu-title:hover > a {
        color: #fff;
    }
    .ant-menu-dark .ant-menu-item-selected {
        background-color: transparent;
        border-right: 0;
        color: #fff;
    }
    .ant-menu-dark .ant-menu-item-selected > a,
    .ant-menu-dark .ant-menu-item-selected > a:hover {
        color: #fff;
    }
}

.header {
    background: #404040;
    height: 64px;
}



.logo {
    width: 200px;
    height: 40px;
    margin: 10px 28px 10px 0;
    float: left;
}

.userInfo {
    float: right;
    width: 120px;
    height: 40px;
    line-height:40px;
    margin: 10px;
    color: #fff;
    font-size: 12px;
    text-align: right;
}

